<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Analysis</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/Article-Cards.css">
    <link rel="stylesheet" href="static/assets/css/dropdown-search-bs4.css">
    <link rel="stylesheet" href="static/assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="static/assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
    <link rel="stylesheet" href="static/assets/css/x-dropdown.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: var(--bs-dark);width: auto;height: auto;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Covid wizard</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href={{ url_for('index') }}><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('analysis') }}"><i class="fas fa-user"></i><span>Analysis</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('resources') }}"><i class="fas fa-table"></i><span>Resources</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for Global" autocomplete="on"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Analysis</h3>
                </div>
                <div class="row" style="padding: 2%;">
                    <figure class="snip1253">
                        <div class="image"><img src="static\assets\img\analysis-1.1.jfif" alt="index" /></div>
                        <figcaption>
                            <div class="date">
                                <span class="day">09</span>
                                <span class="month">July</span>
                            </div>
                            <h3>Policy Index Viz</h3>
                            <p>
                                Visualize Governmnet Policy Indexes and New Cases with time.
                            </p>
                            <a class="btn btn-dark btn-sm" role="button" href="{{ url_for('analysis1') }}">Read More</a>
                        </figcaption>
                    </figure>
                    <figure class="snip1253">
                        <div class="image"><img src="static\assets\img\analysis-2.1.jfif" /></div>
                        <figcaption>
                            <div class="date">
                                <span class="day">10</span>
                                <span class="month">July</span>
                            </div>
                            <h3>Containment and closure policies</h3>
                            <p>
                                Visualize Containment and closure policies and New Cases with time on world.
                            </p>
                            <a class="btn btn-dark btn-sm" role="button" href="{{ url_for('analysis2') }}">Read More</a>
                        </figcaption>
                    </figure>
                    <figure class="snip1253">
                        <div class="image"><img src="static\assets\img\analysis-3.1.png" /></div>
                        <figcaption>
                            <div class="date">
                                <span class="day">11</span>
                                <span class="month">July</span>
                            </div>
                            <h3>Economic policies</h3>
                            <p>
                                Visualize Economic policies and it's effect on new cases with time on world.
                            </p>
                            <a class="btn btn-dark btn-sm" role="button" href="{{ url_for('analysis3') }}">Read More</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Covid Wizard 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/chart.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/dropdown-search-bs4.js"></script>
    <script src="static/assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>