{% extends "analysis-template.html" %}

{% block heading %} Containment and closure policies Viz {% endblock %}

{% block description %} Visualize Containment and closure policies. Change Index type by clicking on dropdown menu. <strong>Viz may take some time to load.</strong> {% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center" style="padding-top: 12px;padding-left: 12px;">
        <h6 class="text-primary fw-bold m-0">Containment and closure policies Viz</h6>
    </div>
    <div class="chart">
        <iframe src="{{ url_for('/policycc/') }}" style="max-width: 100%; max-height: 100%; width: 1200px; height: 400px"></iframe>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center" style="padding-top: 12px;padding-left: 12px;">
        <h6 class="text-primary fw-bold m-0">Next Best Restriction</h6>
        <div class="dropdown">
            <select class="form-control" id='change_country'>
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="chart" id="bar_graph">
                    <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bar_graph',graphs,{responsive: true});
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
