<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - CovidWizard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/dropdown-search-bs4.css">
    <link rel="stylesheet" href="static/assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="static/assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
    <link rel="stylesheet" href="static/assets/css/x-dropdown.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: var(--bs-dark);width: auto;height: auto;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Covid wizard</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('analysis') }}"><i class="fas fa-user"></i><span>Analysis</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('resources') }}"><i class="fas fa-table"></i><span>Resources</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" action="{{ url_for('index') }}">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text" name="search-country" id="search-country" placeholder="Search for World" autocomplete="on">
                                <button class="btn btn-primary py-0" role="button" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </nav><!-- Split dropend button -->
                <div class="btn-group dropend" style="margin-left: 24px; padding-left: 16px; padding-bottom: 16px;">
                    <form method="POST" action="{{ url_for('index') }}">

                        <select class="dropdown btn btn-primary dropdown-toggle" name="search-region" id="search-region">
                            <!-- Dropdown menu links -->
                            <div class="dropdown-menu">
                                {% for region in regions %}
                                {% if region_selected==region %}
                                <option value="{{ region }}" class="dropdown-item" selected>{{ region }}</option>
                                {% else %}
                                <option value="{{ region }}" class="dropdown-item">{{ region }}</option>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </select>
                        <button class="btn btn-secondary" type="submit">Find</button>
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">
                            Dashboard for
                            {% if region_selected!='All' %}
                            {{ region_selected }},
                            {% endif %}
                            {{ country }}
                        </h3>
                    </div>
                    {% if lvl=='MA Warning' %}
                        <div class="card textwhite bg-danger text-white shadow" style="margin: 16px;">
                            <div class="card-body">
                                <p class="m-0">Warning! Weekly New Average Cases Rising Above Two Weeks Average</p>
                                <p class="m-0">Stay Home, Stay Safe!</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="d-flex d-xl-flex justify-content-center align-self-center justify-content-xl-center align-items-xl-center blog-slider" style="margin-bottom: 23px;">
                        <div class="blog-slider__wrp swiper-wrapper">
                            {% for article in news %}
                            <div class="blog-slider__item swiper-slide">
                                <div></div>
                                <div class="blog-slider__img"><img src={{ article[0] }}></div>
                                <div class="blog-slider__content">
                                    <span class="blog-slider__code">{{ article[1] }}</span>
                                    <div class="blog-slider__title">{{ article[2] }}</div>
                                    <div class="blog-slider__text">{{ article[3] }}</div>
                                    <a class="class=&quot;blog-slider__button" href={{ article[4] }}>READ MORE</a>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="blog-slider__pagination"></div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center" style="padding-top: 12px;padding-left: 12px;">
                            <h6 class="text-primary fw-bold m-0">New Weekly Confirmed Cases</h6>
                        </div>
                        <div class="chart">
                            <iframe src="{{ url_for('/world-map/') }}" style="max-width: 100%; max-height: 100%; width: 1200px; height: 400px"></iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Confirmed</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{ cnf }}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Active</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{ actv }}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-bed fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Recovered</span></div>
                                            <div class="row g-0 align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{ recv }}%</span></div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-info" aria-valuenow="{{ recv }}" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="visually-hidden">{{ recv }}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>deaths</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{ dead }}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Confirmed / Deaths / Recovered Cases</h6>
                                    <div class="col-xs-3">
                                        <select class="form-control" id='change_data'>
                                            <option value="confirmed">Confirmed</option>
                                            <option value="deaths">Deaths</option>
                                            <option value="recovered">Recovered</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control" id='change_type'>
                                            <option value="new">New</option>
                                            <option value="total">Cumulative</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control" id='change_scale'>
                                            <option value="linear">Linear</option>
                                            <option value="log">Log</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="chart" id="bargraph">
                                            <script>
                                                var graphs = {{plot | safe}};
                                                Plotly.plot('bargraph',graphs,{responsive: true});
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 12px 16px;">
                                    <h6 class="text-primary fw-bold m-0">Coronavirus Self-Checker</h6>
                                </div>
                                <div class="card-body text-center">
                                    <div data-cdc-widget='healthBot' data-cdc-theme='theme1' class='cdc-widget-color-white' data-cdc-language='en-us'></div>
                                    <script src='https://t.cdc.gov/1M1B'></script>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="padding: 12px 16px;">
                                    <h6 class="text-primary fw-bold m-0">Vaccination</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Partially Vaccinated<span class="float-end">{{ per_fvax }}%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-primary" aria-valuenow="{{ per_fvax }}" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">{{ per_fvax }}%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Complete Vaccination<span class="float-end">{{ per_svax }}%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-success" aria-valuenow="{{ per_svax }}" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">{{ per_svax }}%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">Gender Distribution</h6>
                                    <div class="col-xs-3">
                                        <select class="form-control" id='change_grp'>
                                            <option value="0-10">0-10</option>
                                            <option value="10-20">10-20</option>
                                            <option value="20-30">20-30</option>
                                            <option value="30-40">30-40</option>
                                            <option value="40-50">40-50</option>
                                            <option value="50-60">50-60</option>
                                            <option value="60-70">60-70</option>
                                            <option value="70-80">70-80</option>
                                            <option value="80-90">80-90</option>
                                            <option value="90-100">90-100</option>
                                            <option value="100+">100+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="chart" id="agegrpplt">
                                            <script>
                                                    var graphs = {{agegrpplt | safe}};
                                                    Plotly.plot('agegrpplt',graphs,{responsive: true});
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 12px 16px;">
                                    <h6 class="text-primary fw-bold m-0">Age Group Distribution</h6>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="chart" id="allageplt">
                                            <script>
                                            var graphs = {{allageplt | safe}};
                                            Plotly.plot('allageplt',graphs,{responsive: true});
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Covid Wizard 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plots.js') }}"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/chart.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/dropdown-search-bs4.js"></script>
    <script src="static/assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>